{erl_opts, [debug_info,
	   {i,"include"},
	   {i,"/home/joq62/erlang/common_include"},
	   {i,"_build/default/lib/*/include"},   
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
	    
{deps, [
       {add_test,{git,"https://github.com/joq62/add_test.git",{branch,"main"}}},

       {common,{git,"https://github.com/joq62/common.git",{branch,"main"}}},
       {rd,{git,"https://github.com/joq62/rd.git",{branch,"main"}}},
       {log,{git,"https://github.com/joq62/log.git",{branch,"main"}}}
       ]}.